{% extends "base.html" %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="profileImage img-fluid rounded-circle mb-3" src="{{ user.image.url }}" alt="{{ user.username }}'s profile image">
                <h2>User Profile</h2>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <a class="btn btn-primary" href="{% url 'password_change' %}">Change Password</a>
            </div>
        </div>
    </div>

{% endblock %}