{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h2>Create new trip</h2>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title</label>
                <input type="text" name="title" class="form-control" id="id_title" required>
            </div>
            <div class="form-group">
                <label for="id_destination">Destination</label>
                <input type="text" name="destination" class="form-control" id="id_destination" required>
            </div>
            <div class="form-group">
                <label for="id_description">Description</label>
                <textarea name="description" class="form-control" id="id_description" required></textarea>
            </div>
            <div class="form-group">
                <label for="id_max_passangers">Max Passengers</label>
                <input type="number" name="max_passangers" class="form-control" id="id_max_passangers" required>
            </div>
            <div class="form-group">
                <label for="id_start_date">Start Date</label>
                <input type="datetime-local" name="start_date" class="form-control" id="id_start_date" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Trip</button>
        </form>
    </div>
{% endblock %}
