<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'traveller/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Favicon-->
    
    <!-- Bootstrap icons-->

    



    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>

    <header class="header">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
          <div class="container-fluid">
            <div class="d-flex align-items-center"><a class="navbar-brand py-1" href="#"><img src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/logo.svg" alt="Directory logo"></a>
              <form class="form-inline d-none d-sm-flex" action="#" id="search">
                <div class="input-label-absolute input-label-absolute-left input-expand ms-lg-2 ms-xl-3"> 
                  <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                  <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="search_search" placeholder="Search" aria-label="Search" type="search">
                </div>
              </form>
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
                <div class="input-label-absolute input-label-absolute-left w-100">
                  <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                  <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="searchcollapsed_search" placeholder="Search" aria-label="Search" type="search">
                </div>
              </form>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" id="homeDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Home</a>
                  <div class="dropdown-menu" aria-labelledby="homeDropdownMenuLink"><a class="dropdown-item" href="#">Rooms</a><a class="dropdown-item" href="#">Restaurants</a><a class="dropdown-item" href="#S">Travel</a><a class="dropdown-item" href="#">Real Estate <span class="badge badge-info-light ms-1 mt-n1">New</span></a></div>
                </li>
                
                
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}">Change Password</a></li>
                    
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
                {% endif %}
                
                
                <li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-lg-none d-xl-inline-block"><a class="btn btn-primary" href="user-add-0.html">Add a listing</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- /Navbar -->
      </header>


    




    {% block content %}{% endblock %}

    <footer class="py-5 bg-dark">
        <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'traveller/js/scripts.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
</body>

</html>