{% extends "base.html" %}

{% block content %}
    <div class="text-center text-xxl-start gradient-background">
        <div class="fs-3 fw-light text-muted">“Mandry - your way to adventure”</div>
        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">MANDRY</span></h1>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container mt-5 mb-4" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel" >
            <!-- Індикатори слайдів -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>
    
            <!-- Слайди -->
            <div class="carousel-inner" style="border-radius: 50px;">
                <!-- Слайд 1 -->
                <div class="carousel-item active">
                    <img src="static\traveller\img\photo_2023-12-12_19-44-28.jpg" class="d-block w-100" alt="Зображення 1">
                    <div class="carousel-caption d-none d-md-block" style="background-color: #aef0dc; border: 1px solid #ccc; padding: 4px; border-radius: 10px; color: black; text-shadow: 2px 2px 4px #888888;">
                        <h5>SEARCH FOR YOUR TRIP JOINT</h5>    
                    </div>
                </div>
    
                <!-- Слайд 2 -->
                <div class="carousel-item">
                    <img src="static\traveller\img\photo_2023-12-12_19-44-32.jpg" class="d-block w-100" alt="Зображення 2">
                    <div class="carousel-caption d-none d-md-block" style="background-color: #aef0dc; border: 1px solid #ccc; padding: 4px; border-radius: 10px; color: black; text-shadow: 2px 2px 4px #888888;">
                        <h5>MAKE YOUR ROUTES SAFE</h5>
                    </div>
                </div>
    
                <!-- Слайд 3 -->
                <div class="carousel-item">
                    <img src="static\traveller\img\photo_2023-12-12_19-44-35.jpg" class="d-block w-100" alt="Зображення 3">
                    <div class="carousel-caption d-none d-md-block" style="background-color: #aef0dc; border: 1px solid #ccc; padding: 4px; border-radius: 10px; color: black; text-shadow: 2px 2px 4px #888888;">
                        <h5>MAKE EXPERIENCE EXCHANGE</h5>
                        
                    </div>
                </div>
            </div>
    
            <!-- Кнопки переходу -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Попередній</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Наступний</span>
            </a>

        </div>
    </div>

    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3 gradient-background" style="background-color: rgb(180, 240, 221); width: 100%; padding: 20px;">
        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder mr-3" href={% url "all_trips" %}>JOIN A TRIP</a>
        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href={% url "create_trip" %}>CREATE A TRIP</a>
    </div>

    <!-- Підключення скриптів Bootstrap JS та Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Features section-->
    <section class="py-5 border-bottom gradient-background" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></i></div>
                    <h2 class="h4 fw-bolder">Safety</h2>
                    <p>Safety is paramount in travel. Mandry offers detailed information on routes, ensuring your journey is not just enjoyable but also safe.</p>
                    
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></i></div>
                    <h2 class="h4 fw-bolder">Travel</h2>
                    <p>Travel is about shared experiences. Mandry fosters a sense of community by allowing users to plan and join group trips, enhancing the overall travel experience.</p>
                    
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></i></div>
                    <h2 class="h4 fw-bolder">Community</h2>
                    <p>Our platform is a hub for knowledge and experience sharing, allowing travelers to learn from each other and make informed decisions.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded-circle" src="/media/background_images/background-tips.png" alt="..."></div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">For those about to start...</h2>
                <p>Our vision for Mandry goes beyond its current capabilities. We are working towards personalized recommendations, fostering online communities, organizing webinars, and much more, aiming to make Mandry a one-stop solution for all travel needs.</p>
            </div>
        </div>
    </div>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/media/background_images/background-login.png" alt="..."></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">We welcome you!</h2>
                    <p>Mandry is more than just a platform - it is a community, a resource, and a companion for all your travel adventures. We invite you to join us on this exciting journey, to explore, learn, and experience the world like never before. Thank you for your attention and we look forward to embarking on this adventurous journey with you.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom gradient-background-reversed" style="border-radius: 50px;">
        <div class="container px-5 my-5 ">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Pay as you grow</h2>
                <p class="lead mb-0">Choose your plan</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">DEFAULT</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$0</span>
                                <span class="text-muted">/ year</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Benefits:</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    1 current trip
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    up to 3 people
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    limited support
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    5% discount
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    local community events
                                </li>
                                
                            
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" style="background-color: #b3a051; color: black;" href={% url "signup" %}>Choose plan</a></div>
                        </div>
                    </div>
                </div>

                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                PRO
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$20</span>
                                <span class="text-muted">/ year</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Benefits:</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    up to 5 current trips
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    up to 10 people
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    unlimited support
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    10% discount
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    worldwide community events
                                </li>
                            
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" style="background-color: #b3a051; color: black;" href={% url "signup" %}>Choose plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Customer testimonials</h2>
                <p class="lead mb-0">Our customers love working with us</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Thank you for the unforgettable adventures and the opportunity to find wonderful fellow travelers! Your platform is a real storehouse for those who are looking not only for travel routes, but also for friends to travel with. I recommend it to everyone who dreams of exciting experiences and new acquaintances!</p>
                                    <div class="small text-muted">- Petro, Lviv</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Couldn't think of a better way to spend your vacation than with this amazing travel companion platform! High-quality service, ease of use and a great community of travelers. Thank you for helping to make my adventures even more colorful!</p>
                                    <div class="small text-muted">- Taras, Mukachevo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
