body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  display: flex;
  flex-direction:column;
}

form {
    margin-top: 20px;
}

.profileImage {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
  min-height:50px;
}

.mandry-logo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
