body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.profileImage {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.mandry-logo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

nav.navbar {
  background-color: rgb(180, 240, 221);
}

body {
  display: flex;
  flex-direction: column;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form .btn {
  width: 100%;
}

header {
  position: fixed;
  overflow: scroll;
  top: 0;
}
